In [38]:
## Dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/csidb"

In [39]:
#import database from csv
df = pd.read_csv("Resources/Cleaned_DDos_DataFrame.csv")

df.head(10)

,Unnamed: 0,Label,Timestamp,Source IP,Destination IP,Source Port,Destination Port,Flow ID,Flow Duration,Flow IAT Std,Average Packet Size,Bwd Packet Length Std
0,0,BENIGN,7/7/2017 3:30,104.16.207.165,192.168.10.5,443,54865,192.168.10.5-104.16.207.165-54865-443-6,3,0.0,9.0,0.0
1,1,BENIGN,7/7/2017 3:30,104.16.28.216,192.168.10.5,80,55054,192.168.10.5-104.16.28.216-55054-80-6,109,0.0,9.0,0.0
2,2,BENIGN,7/7/2017 3:30,104.16.28.216,192.168.10.5,80,55055,192.168.10.5-104.16.28.216-55055-80-6,52,0.0,9.0,0.0
3,3,BENIGN,7/7/2017 3:30,104.17.241.25,192.168.10.16,443,46236,192.168.10.16-104.17.241.25-46236-443-6,34,0.0,9.0,0.0
4,4,BENIGN,7/7/2017 3:30,104.19.196.102,192.168.10.5,443,54863,192.168.10.5-104.19.196.102-54863-443-6,3,0.0,9.0,0.0
5,5,BENIGN,7/7/2017 3:30,104.20.10.120,192.168.10.5,443,54871,192.168.10.5-104.20.10.120-54871-443-6,1022,0.0,9.0,0.0
6,6,BENIGN,7/7/2017 3:30,104.20.10.120,192.168.10.5,443,54925,192.168.10.5-104.20.10.120-54925-443-6,4,0.0,9.0,0.0
7,7,BENIGN,7/7/2017 3:30,104.20.10.120,192.168.10.5,443,54925,192.168.10.5-104.20.10.120-54925-443-6,42,0.0,9.0,0.0
8,8,BENIGN,7/7/2017 3:30,104.28.13.116,192.168.10.8,443,9282,192.168.10.8-104.28.13.116-9282-443-6,4,0.0,9.0,0.0
9,9,BENIGN,7/7/2017 3:30,104.97.123.193,192.168.10.5,443,55153,192.168.10.5-104.97.123.193-55153-443-6,4,0.0,34.0,0.0

In [40]:
##drop index column
df= df.drop(['Unnamed: 0'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225741 entries, 0 to 225740
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0    Label                  225741 non-null  object
 1    Timestamp              225741 non-null  object
 2    Source IP              225741 non-null  object
 3    Destination IP         225741 non-null  object
 4    Source Port            225741 non-null  int64
 5    Destination Port       225741 non-null  int64
 6   Flow ID                 225741 non-null  object
 7    Flow Duration          225741 non-null  int64
 8    Flow IAT Std           225741 non-null  float64
 9    Average Packet Size    225741 non-null  float64
 10   Bwd Packet Length Std  225741 non-null  float64
dtypes: float64(3), int64(3), object(5)
memory usage: 18.9+ MB

In [41]:
print(df.columns)

Index([' Label', ' Timestamp', ' Source IP', ' Destination IP', ' Source Port',
       ' Destination Port', 'Flow ID', ' Flow Duration', ' Flow IAT Std',
       ' Average Packet Size', ' Bwd Packet Length Std'],
      dtype='object')

In [42]:
#separate data into different tables for database

flo = df[['Flow ID', ' Label',' Source IP', ' Destination IP', ' Source Port',
       ' Destination Port']].copy()
pac = df[[' Timestamp',' Average Packet Size',' Bwd Packet Length Std','Flow ID']].copy()
tim = df[['Flow ID', ' Flow Duration', ' Flow IAT Std', ' Timestamp']].copy()
tim.head(10)

,Flow ID,Flow Duration,Flow IAT Std,Timestamp
0,192.168.10.5-104.16.207.165-54865-443-6,3,0.0,7/7/2017 3:30
1,192.168.10.5-104.16.28.216-55054-80-6,109,0.0,7/7/2017 3:30
2,192.168.10.5-104.16.28.216-55055-80-6,52,0.0,7/7/2017 3:30
3,192.168.10.16-104.17.241.25-46236-443-6,34,0.0,7/7/2017 3:30
4,192.168.10.5-104.19.196.102-54863-443-6,3,0.0,7/7/2017 3:30
5,192.168.10.5-104.20.10.120-54871-443-6,1022,0.0,7/7/2017 3:30
6,192.168.10.5-104.20.10.120-54925-443-6,4,0.0,7/7/2017 3:30
7,192.168.10.5-104.20.10.120-54925-443-6,42,0.0,7/7/2017 3:30
8,192.168.10.8-104.28.13.116-9282-443-6,4,0.0,7/7/2017 3:30
9,192.168.10.5-104.97.123.193-55153-443-6,4,0.0,7/7/2017 3:30

In [43]:
# Create connection to database
engine = create_engine(db_string)

# Transfer data from dataframes to SQL Database
flo.to_sql(name='flows', con=engine, if_exists='replace')
pac.to_sql(name='packets', con=engine, if_exists='replace')
tim.to_sql(name='time', con=engine, if_exists='replace')